<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
    }

    .navbar {
      background-color: #0f5298;
    }

    .navbar-brand {
      font-size: 24px;
      color: #fff;
    }

    .container {
      max-width: 960px;
    }

    h1 {
      font-size: 28px;
      margin-bottom: 1rem;
      color: #0f5298;
    }

    a {
      font-size: 18px;
      color: #0f5298;
      text-decoration: none;
      margin-bottom: 1rem;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">IMS Bank</a>
    </div>
  </nav>
  <div class="container mt-5">
    <h1>Welcome to IMS Bank</h1>
    <ul>
        <li><a href="/addClient">Add a new client</a></li>
        <li><a href="/">View all clients</a></li>
    </ul>
  </div>
</body>
</html>
