

/* styles.css */
.container {
  max-width: 600px;
  margin: auto;
  padding-top: 50px;
}

h1 {

  margin-bottom: 50px;
}

form {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 5px #ccc;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

select.form-control {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.text-primary {
  font-weight: bold;
}
